<!DOCTYPE html>
{% extends "base.html" %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Novo Alarme!</title>
</head>
{% block body %}
            <body>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h3>Adicionar um novo alarme</h3>
                        <form class="" action ="" method ="POST">
                            {%  csrf_token %}
                            <div class="form-group">
                            <label for="{{ form.tags.id_for_label }}">Tags</label>
                            {{ form.tags |add_class:"form-control selectpicker"}}
                            </div>
                            <div class="form-group">
                            <label for="{{ form.usuarios.id_for_label }}">Usuários</label>
                            {{ form.usuarios |add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                            <label for="{{ form.trigger.id_for_label }}">Trigger</label>
                            {{ form.trigger |add_class:"form-control" }}
                            </div>
                                <button class="btn btn-primary" name="button">Criar Alarme</button>
                                <button class="btn btn-link" name="button">Limpar</button>
                        </form>
                </div>
                <div class="col-sm-4"></div>
            </div>
            </body>
    {% endblock body %}
</html>